html,
body,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.dark {
  background: #101828;
  color: white;
  color-scheme: dark;
}


.meta2d-map {
  border: 1px solid #aaa3 !important;
  background: #FBFBFF !important;
}

.meta2d-map div {
  border: 1px solid #722ED1 !important;
}


html.dark .meta2d-map {
  background: #182033 !important;
}

.arco-tabs-content {
  padding-top: 0px !important;
}

.arco-tabs-nav::before {
  background-color: #aaa3 !important;
}

.arco-collapse-item {
  border-bottom: 1px solid #aaa3 !important;
}

.arco-collapse-item-header {
  background-color: transparent !important;
}

